@*<div id="example">
        <div class="demo-section k-content">

            <table id="movies" class="metrotable">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Rating</th>
                        <th>Title</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script id="template" type="text/x-kendo-template">
            <tr>
                <td>#= rank #</td>
                <td>#= rating #</td>
                <td>#= title #</td>
                <td>#= year #</td>
            </tr>
        </script>

    </div>*@

<div id="email-settings">
    <div style="margin-top: -6px; margin-left: 180px">
        <input id="datepicker" value="10/10/2011" style="width:150px;" />
    </div>
    <div style="margin-top: 59px; margin-left: 180px">
        <input id="monthpicker" value="November 2011" style="width:150px" />
    </div>
</div>

<input id="autocomplete" />

<div id="example"></div>



@section css{
    <style>
        .demo-section {
            overflow: auto;
        }

        .metrotable {
            width: 100%;
            border-collapse: collapse;
        }

            .metrotable > thead > tr > th {
                font-size: 1.3em;
                padding-top: 0;
                padding-bottom: 5px;
            }
    </style>
}
<script id="javascriptTemplate" type="text/k-kendo-template">
<ul>
    # for(var i=0;i < data.length; i++) {#
    <li> #= commomModule.myCustomFunction(data[i]) # </li>
    #}#                                     
</ul>
</script>


@section scripts{
    <script>
        $(function() {
            window.commomModule = (function() {
                var myCustomFunction = function(str) {
                    return str.replace(".", " - ");
                }

                return {
                    myCustomFunction: myCustomFunction
                }
            })();


            $("#datepicker").kendoDatePicker(); //默认配置  
            $("#monthpicker").kendoDatePicker({
                start: "year", //开始视图  
                depth: "year", //设置最小视图，也就是选择值时的视图
                format: "yyyy-MM" //格式化返回值的格式  
            });

            $("#autocomplete").kendoAutoComplete({
                animation: {
                    close: {
                        effects: "fadeOut zoom:out",
                        duration: 300
                    },
                    open: {
                        effects: "fadeIn zoom:in",
                        duration: 300
                    }
                },
                dataSource: {
                    data: [{ id: 1, name: "Apples" }, { id: 2, name: "Oranges" }]
                },
                dataTextField: "name",
                delay: 500,
                height: 500,
                highlightFirst: true,
                //placeholder: "Enter value...",
                suggest: true,
                headerTemplate: "<div><h2>Fruits</h2></div>"
            });

            //var template = kendo.template("<div id='box'>#= firstName #</div>");
            //var data = { firstName: "<b>Toadd</b>" };
            //var result = template(data);
            //$("#example").html(result);

            var template = kendo.template($("#javascriptTemplate").html());
            var data = ["Todd.Holland", "Steve.Anglin", "Burke.Ballmer"];

            var result = template(data); //Execute the template
            $("#example").html(result); //Append the result

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                    {
                        columns: [
                            { autoWidth: true },
                            { autoWidth: true }
                        ],
                        title: "Customers",
                        rows: [
                            {
                                cells: [
                                    { value: "Company Name" },
                                    { value: "Contact" }
                                ]
                            },
                            {
                                cells: [
                                    { value: "Around the Horn" },
                                    { value: "Thomas Hardy" }
                                ]
                            },
                            {
                                cells: [
                                    { value: "B's Beverages" },
                                    { value: "Victoria Ashworth" }
                                ]
                            }
                        ]
                    },
                    {
                        title: "Employees",
                        columns: [
                            { autoWidth: true },
                            { autoWidth: true }
                        ],
                        rows: [
                            {
                                cells: [
                                    { value: "First Name" },
                                    { value: "Last Name" }
                                ]
                            },
                            {
                                cells: [
                                    { value: "Andrew" },
                                    { value: "Fuller" }
                                ]
                            },
                            {
                                cells: [
                                    { value: "Nancy" },
                                    { value: "Davolio" }
                                ]
                            }
                        ]
                    }
                ]
            });

            kendo.saveAs({
                dataURI: workbook.toDataURL(),
                fileName: "Test.xlsx"
            });

        });

        function myCustomFunction(str) {
            console.log(str);
            return str.replace(".", " ");
        }

        //$(function () {
        //    //create a template using the above definition

        //    var template = kendo.template($("#template").html());

        //    var movies = [
        //        { "rank": 1, "rating": 9.2, "year": 1994, "title": "The Shawshank Redemption" },
        //        { "rank": 2, "rating": 9.2, "year": 1972, "title": "The Godfather" },
        //        { "rank": 3, "rating": 9, "year": 1974, "title": "The Godfather: Part II" },
        //        { "rank": 4, "rating": 8.9, "year": 1966, "title": "Il buono, il brutto, il cattivo." },
        //        { "rank": 5, "rating": 8.9, "year": 1994, "title": "Pulp Fiction" },
        //        { "rank": 6, "rating": 8.9, "year": 1957, "title": "12 Angry Men" },
        //        { "rank": 7, "rating": 8.9, "year": 1993, "title": "Schindler's List" },
        //        { "rank": 8, "rating": 8.8, "year": 1975, "title": "One Flew Over the Cuckoo's Nest" },
        //        { "rank": 9, "rating": 8.8, "year": 2010, "title": "Inception" },
        //        { "rank": 10, "rating": 8.8, "year": 2008, "title": "The Dark Knight" }
        //    ];

        //    var dataSource = new kendo.data.DataSource({
        //        data: movies,
        //        change: function () {
        //            $("#movies tbody").html(kendo.render(template, this.view()));
        //        }
        //    });

        //    dataSource.read();
        //});

        //$(document).ready(function () {

        //    // create a template using the above definition
        //    //var template = kendo.template($("#template").html());

        //    //var movies = [
        //    //    { "rank": 1, "rating": 9.2, "year": 1994, "title": "The Shawshank Redemption" },
        //    //    { "rank": 2, "rating": 9.2, "year": 1972, "title": "The Godfather" },
        //    //    { "rank": 3, "rating": 9, "year": 1974, "title": "The Godfather: Part II" },
        //    //    { "rank": 4, "rating": 8.9, "year": 1966, "title": "Il buono, il brutto, il cattivo." },
        //    //    { "rank": 5, "rating": 8.9, "year": 1994, "title": "Pulp Fiction" },
        //    //    { "rank": 6, "rating": 8.9, "year": 1957, "title": "12 Angry Men" },
        //    //    { "rank": 7, "rating": 8.9, "year": 1993, "title": "Schindler's List" },
        //    //    { "rank": 8, "rating": 8.8, "year": 1975, "title": "One Flew Over the Cuckoo's Nest" },
        //    //    { "rank": 9, "rating": 8.8, "year": 2010, "title": "Inception" },
        //    //    { "rank": 10, "rating": 8.8, "year": 2008, "title": "The Dark Knight" }
        //    //];

        //    //var dataSource = new kendo.data.DataSource({
        //    //    data: movies,
        //    //    change: function () { // subscribe to the CHANGE event of the data source
        //    //        $("#movies tbody").html(kendo.render(template, this.view())); // populate the table
        //    //    }
        //    //});

        //    // read data from the "movies" array
        //    //dataSource.read();
        //});
    </script>
}