@{
}

<div id="grid"></div>
@section scripts{
    <script type="text/javascript">
        $(function() {
            var people = [ { firstName: "John",
                    lastName: "Smith",
                    email: "john.smith@telerik.com" },
                { firstName: "Jane",
                    lastName: "Smith",
                    email: "jane.smith@telerik.com" },
                { firstName: "Josh",
                    lastName: "Davis",
                    email: "josh.davis@telerik.com" },
                { firstName: "Cindy",
                    lastName: "Jones",
                    email: "cindy.jones@telerik.com" } ];

            $("#grid").kendoGrid({
                dataSource: people,
                selectable: "multiple row",
                //pageable:true
            });
        })
    </script>
}