@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <h3>
        11111111111111111111000000000000000000000000000
        @ViewBag.FilePath
        <input type="button" data-event="alertinfo1" data-id="1" value="1" />
        <input type="button" data-event="alertinfo2" data-id="2" value="2" />
    </h3>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/index.js"></script>

<script type="text/javascript">
    $.subscribe("alertinfo1,alertinfo2",
        function(e, data) {
            console.log(e);
            console.log(data);
        });
    $.subscribe("alertinfo1",
        function(e, data) {
            console.log(e);
            console.log(data);
            alert(data);
        });
    //console.log(CommonModule.getFormatDate("2020/01/05", "/"));
    //console.log(CommonModule.getFormatTime(new Date().toString()));
    //console.log(CommonModule.dateDiffDay("2020/01/05", new Date()).toString());
    //console.log((3.1).toFixed(2));
    //console.log(CalculationModule.addToFixed(3.1444, 2.3454, 2));
    //console.log(CalculationModule.addSubDecimal(3.1444, 2.3454, 2));

    //console.log(new Date().Format("yyyy-MM-dd hh:mm:ss.S"));
    //console.log(new Date().Format("yyyy/MM/dd hh:mm:ss.S"));
    //console.log(new Date().Format("yyyy-M-d h:m:s.S"));
    console.log(DateTimeModule.strToTime("2020-01-13 22:12"));
    //var now = new Date();
    //console.log(now instanceof Date);
    //console.log(DateTimeModule.getFormatTimeStr(new Date()));
</script>