@{
    ViewBag.Title = "Index";
}

<div id="components-demo">
    <button-counter></button-counter>
</div>

@section scripts
{
    <script>
        $(function () {
            Vue.component('button-counter',
                {
                    data: function() {
                        return {
                            count: 0
                        }
                    },
                    template: '<button v-on:click="count++">You clicked me {{count}}times.</button>'
                });

            new Vue({el:"#components-demo"})
        })
    </script>
}